.texture{
    background-image: url('/JS/texture.jfif');
    background-color: antiquewhite;
    width: 100vw;
    height: auto;
}
.chic-img{
height: 100px;
width: 100vw;
}
.chic-img img {
  width:100%
}

.container .content input{
    text-align: center;
    padding: 10px;
    background-color: red;
    color: white;
    border: 1px solid transparent;
    border-radius: 20px;
    text-decoration: none;
    text-transform: capitalize;
    text-decoration-color: white;

}
.container .content span a i{
    color: red;
    background-color: white;
    font-size: 1.2rem;
}

.{
  
}
